@page
@model LMS.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Forgot Password Confirmation</h1>
    <p>
        Please check your email to reset your password.
    </p>
    <div class="d-flex">
        <a href="/" class="btn btn-outline-primary me-2">Back To Home</a>
        <a href="/Identity/Account/login" class="btn btn-outline-primary me-2">Back To Login</a>
    </div>
</div>

